.food
    .food__head--text
        h3 The Food Hall
        img(src="https://images.unsplash.com/photo-1577219491135-ce391730fb2c?auto=format&fit=crop&q=80&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&w=1954", alt="image")
    .food__body
        .food__body--store
            div
                p Khao Man Gai
                span Betong
            div
                p Coffe, Pastries & Smoothies
                span Chiantown Deli
            div
                p Artisanal Chocolates
                span Daniel Corpuz Chocolatier
            div
                p Napoli Style Pizza
                span Enzo Bruni La Pizza Gourmet
            div
                p Chinese Classics
                span Joe's Rice and Noodles
            div
                p Cantonese Steamed Rice Rolls
                span Joe's Steam Rice Roll
            div
                p Delicious Filipino Classics
                span Kabisera
            div
                p Bingsoo Sundaes & Bubble Tea
                span Lazy Sundes
            div
                p Sushi, Handrolls & Chirashi
                span Mastunori
            div
                p Filipino Inspired Taqeria
                span Mucho Sarap
        .food__body--announce
            i.fa-regular.fa-face-grin-squint-tears.fa-2xl
            div
                h3 The Best <br/> of NYC
                p All under one roof!
            i.fa-regular.fa-face-laugh-squint.fa-2xl
    .food__footer
        .food__footer-top
            h3 Interested in becoming a vender?
            button Click Here 
        .food__footer-mid
            .food__f-mid-cont 
                i.fa-solid.fa-pencil.fa-2xl
                p Email us
            .food__f-mid-cont 
                i.fa-brands.fa-facebook-f.fa-2xl
                p Follow Us <br/> on facebook
            .food__f-mid-cont 
                i.fa-brands.fa-instagram.fa-2xl
                p Follow Us <br/> on instagram
        .food__footer-bot 
            .food_f-bot-cont
                p Stay Up to date <br/> with our newsletter
                select#selection(name="selection") 
                    option(value="default" disabled selected) ---
                    option(value="email") Email
                    option(value="facebook") Facebook
                    option(value="instagram") Instagram
            .food_f-bot-cont
                div
                    span Copyright Canal Street Market #{new Date().getFullYear()}
                    span Privacy Policy
                    span Vendor Login
                div
                    span Site by Hellicat