.introduce
    
    .intro__head--text
        h3 Canal Street Market is a carefully curated retail market, food hall & community space open year-round at 265 Canal Street. Support Small Business this weekend!
    img(src="https://images.unsplash.com/photo-1554118811-1e0d58224f24?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2047&q=80", alt="image")
    
    .intro__body
        h3 A New Kind of Market 
        .intro__body--cont 
            div 
                img(src="https://images.unsplash.com/photo-1578474846511-04ba529f0b88?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80", alt="image")
                p Merging retail, food, art, and culture, Canal Street Market highlights top retail and design concepts, restaurants, and up-and-coming players in the downtown New York City community.
            div 
                img(src="https://images.unsplash.com/photo-1551218808-94e220e084d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80", alt="image")
                p Retail Market Hours:<br/>Thursday – Sun: 11:00AM - 7:00PM
            div 
                img(src="https://images.unsplash.com/photo-1467003909585-2f8a72700288?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80", alt="image")
                p Food Hall Hours:<br/>Mon – Sun: 11:00AM - 8:00PM
    
    .intro__footer
        .footer_top
            h4 Activity 
            h3 Market <br/> Events
            h4 Activity
        .footer_mid
            .footer_mid--text
                div 
                    span 09/21
                    p Small Business Retail Pop Up Weekend!
                div 
                    span 02/07
                    p New Balance x Paperboy Paris by Greenhouse @ Canal Street Market
                div 
                    span 12/11
                    p Hack City 12/11
                button See All 
            .footer_mid--local
                p 265 Canal St. <br/> New York, NY
                img(src="https://images.unsplash.com/photo-1584972191378-d70853fc47fc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80", alt="image")
        .footer_bot
            h3 Interested in becoming a vender?
            button Click Here
    
