.wrapper 
    .introduce
        .cont__title
            h2 HOME
    .food
        .cont__title
            h2 FOOD
    .retail 
        .cont__title
            h2 RETAIL
    .community
        .cont__title
            h2  COMMUNITY
