header 
    .header
        h1
            a(href='/') Canal Street Market
    .user 
        ul 
            li 
                a(href='#none') Join
            li 
                a(href='#none') Log In
        