.header__head
    .header
        h1
            a(href='/') Canal Street Market
    .user 
        ul 
            li 
                a(href='#none') Join
            li 
                a(href='#none') Log In
.header__nav 
    ul 
        li.base-nav
            h2.hidden HOME
        li.base-nav
            h2 FOOD
        li.base-nav
            h2 RETAIL
        li.base-nav
            h2 COMMUNITY