.header__head
    .header
        h1
            a(href='/') Canal Street Market
    .user 
        ul 
            li 
                a(href='#none') Join
            li 
                a(href='#none') Log In
.header__nav 
    ul 
        li(hidden)
            h2 HOME
        li
            h2 FOOD
        li
            h2 RETAIL
        li
            h2 COMMUNITY