@import "_variables";
.food_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 200px;
  transform: translateX(79.5vw);
  transition: ease-in-out 1s;
  background-color: $blue;
  .food {
    padding: 50px;
    width: 85%;
    img {
      width: 85%;
    }
    .food__head--text {
      display: flex;
      justify-content: space-around;
      align-items: center;
      h3 {
        font-size: 50px;
      }
      img {
        width: 20%;
      }
    }
    .food__body {
      padding: 50px 0;
      .food__body--store {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        div {
          p {
            font-size: 14px;
            letter-spacing: 7px;
            margin-bottom: 20px;
          }
          span {
            font-size: 40px;
          }
        }
      }
      .food__body--announce {
        border-top: 1px dashed white;
        border-bottom: 1px dashed white;
        margin: 150px 0;
        padding: 150px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        div:nth-child(2) {
          text-align: center;
          h3 {
            font-size: 50px;
            margin-bottom: 30px;
          }
        }
        i {
          font-size: 100px;
        }
      }
    }
    .food__footer {
      .food__footer-top {
        padding: 100px 0;
        border-top: 1px dashed white;
        border-bottom: 1px dashed white;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
          font-size: 50px;
          margin-bottom: 20px;
        }
        button {
          color: white;
          background-color: inherit;
          border: 2px solid white;
          font-size: 20px;
          padding: 30px 50px;
        }
      }
      .food__footer-mid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        padding: 50px 0;
        text-align: center;
        .food__f-mid-cont {
          border: 1px dashed white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 200px;
          i {
            width: 40px;
            height: 40px;
          }
        }
      }
      .food__footer-bot {
        display: flex;
        flex-direction: column;
        .food_f-bot-cont {
          display: flex;
          justify-content: space-between;
          padding: 25px 0;
          border-top: 1px dashed white;
          border-bottom: 1px dashed white;
          div {
            display: flex;
            span {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}
