@import "_variables";

.introduce_wrapper {
  .introduce {
    background-color: $white;
    width: 85%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    .intro__head--text {
      padding: 180px 0 180px 130px;
      width: 55%;
      font-size: 70px;
    }
    .intro__body {
      margin: 50px;
      h3 {
        width: 35%;
        font-size: 80px;
        padding: 180px 0 180px 130px;
      }
      .intro__body--cont {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        img {
          width: 100%;
          margin-bottom: 30px;
        }
        p {
          font-size: 18px;
          line-height: 20px;
        }
      }
    }
    .intro__footer {
      margin: 50px;
      .footer_top,
      .footer_mid {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 50px 0;
        font-size: 40px;
        font-weight: 600;
      }
      .footer_top {
        h4 {
          color: $white;
          -webkit-text-stroke: 1px black;
        }
      }
      .footer_mid {
        flex-direction: column;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        .footer_mid--text {
          position: relative;
          border-top: 3px dashed rgba(0, 0, 0, 0.4);
          border-bottom: 3px dashed rgba(0, 0, 0, 0.4);
          padding: 50px 0;
          width: 100%;
          display: flex;
          justify-content: space-around;
          & > div {
            width: 33%;
          }
          span {
            display: block;
            margin-bottom: 20px;
          }
        }
        button {
          position: absolute;
          bottom: -25px;
          border: 1px solid black;
          padding: 20px 50px;
          background-color: $white;
        }
        .footer_mid--local {
          padding: 100px 0;
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          & > * {
            width: 500px;
            height: 300px;
            border: 3px dashed rgba(0, 0, 0, 0.3);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
          }
          p {
            font-size: 40px;
            font-weight: 600;
            line-height: 35px;
          }
        }
      }
      .footer_bot {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
        border: 1px dashed rgba(0, 0, 0, 0.2);
        h3 {
          font-size: 30px;
          margin-bottom: 20px;
        }
        button {
          border: 1px solid black;
          padding: 20px 50px;
          background-color: $white;
        }
      }
    }
  }
}
