@import "_reset";
@import "_variables";
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  height: 120px;
  .header {
    width: 80%;
    padding-left: 50px;
    h1 {
      font-size: 30px;
    }
  }
  .user {
    width: 20%;
    ul {
      display: flex;
      li {
        font-size: 14px;
        margin-right: 10px;
      }
    }
  }
}

.wrapper {
  display: flex;
  & > * {
    width: 25vw;
    height: 100vh;
  }
  .introduce {
  }
  .food {
    background-color: $blue;
  }
  .retail {
    background-color: $red;
  }
  .community {
    background-color: $orange;
  }
}

#footer {
  height: 150px;
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
