@import "_reset";
@import "_variables";

@import "header";
@import "introduce";

* {
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
main {
  .wrapper {
    position: relative;
    display: flex;
  }
}
