@import "_reset";
@import "_variables";

@import "header";
@import "introduce";
@import "food";
@import "retail";
@import "community";
* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
}
main {
  .wrapper {
    position: relative;
    display: flex;
  }
}

.hidden {
  display: none;
}

.body__active {
  transition: ease-in-out 1s;
  transform: translateX(0);
}
