doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Canal Street Market
        link(rel="stylesheet" href='style/style.css')
    body
        header 
            include ../partials/header
        main 
            block contents
        script(src="js/index.js") 
        script(src="https://kit.fontawesome.com/86e4e86e0d.js" crossorigin="anonymous")